/** HEADER **/
#masthead {
	padding: 8px;
	background: #efefef;
	margin: 0;
}

#branding, #search, #logout {
	display: inline-block;
}

#branding  {
	margin: 0;
}

#branding a {
	display: inline-block;
}

#branding h1 {
	display: inline-block;
	margin: 0 0 0 16px;
	vertical-align: middle;
}

#search .controls, #search .actions {
	display: inline-block;
}

#search {
	margin: 0 0 0 56px;
}

#search .actions {
	margin: 0 0 0 8px;
}

#logout {
	margin: 0 0 0 56px;
}

#content {
	border-top: 2px solid #bbb;
	padding: 8px;
}

ul.members {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.members li {
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px;
	width: 150px;
	text-align: center;
}

ul.members .box {
	width: 150px;
	margin: 0;
	height: 150px;
	overflow: auto;
	background: #eee;
	display: block;
}

a[data-route] {
	cursor: pointer;
}

ul.members .title {
	width: 150px;
	display: block;
	border-top: none;
}

header .controls {
	margin: 0 !important;
}

header .control-group input {
	font-size: 36pt;
	font-weight: bold;
	height: auto;
	display: inline;
}

header .control-group input#name_last, input#name_first {
	width: auto;
}

/* MEMBERS */

#person-header {
	margin-bottom: 32px;
}

.contact label {
	display: inline-block;
}

.contact label  i {
	margin: 0 8px 0 8px;
}

#photo-box {
	position:absolute;
	left: 500px;
	background: #ddd;
	border: 1px #333 solid;
	width: 200px;
	height: 200px;
}
	
.person-form input[disabled], .person-form select[disabled], .person-form textarea[disabled] {
	background: white;
	box-shadow: none;
	border: none;
}

.input-display {
	display: inline-block;
}

.input-display.input-big {
	font-size: 36pt;
	font-weight: bold;
	height: auto;
	margin-right: 12px;
	line-height: 0;
	vertical-align: middle;
}

div.input-display {
	cursor: text;
}

#errors {
	position: fixed;
	bottom: 0;
	margin: 8px;
	right: 0;
}

#errors .alert {
	font-size: 32px;
	padding: 16px 35px 16px 14px;
}