/** HEADER **/
#masthead {
	padding: 8px;
	background: #efefef;
	border-bottom: 2px solid #ddd;
	margin-bottom: 16px;
}

#branding, #search, #logout {
	display: inline-block;
}

#branding  {
	margin: 0;
}

#branding a {
	display: inline-block;
}

#branding h1 {
	display: inline-block;
	margin: 0 0 0 16px;
	vertical-align: middle;
}

#search .controls, #search .actions {
	display: inline-block;
}

#search {
	margin: 0 0 0 56px;
}

#search .actions {
	margin: 0 0 0 8px;
}

#logout {
	margin: 0 0 0 56px;
}

#content {
	margin-top: 1px solid #bbb;
	padding: 8px;
}

ul.members {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.members li {
	display: inline-block;
	margin-right: 12px;
	width: 100px;
}