/** HEADER **/
#masthead {
	padding: 8px;
	background: #efefef;
	border-bottom: 2px solid #ddd;
	margin: 0;
}

#branding, #search, #logout {
	display: inline-block;
}

#branding  {
	margin: 0;
}

#branding a {
	display: inline-block;
}

#branding h1 {
	display: inline-block;
	margin: 0 0 0 16px;
	vertical-align: middle;
}

#search .controls, #search .actions {
	display: inline-block;
}

#search {
	margin: 0 0 0 56px;
}

#search .actions {
	margin: 0 0 0 8px;
}

#logout {
	margin: 0 0 0 56px;
}

#content {
	border-top: 2px solid #bbb;
	padding: 8px;
}

ul.members {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.members li {
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px;
	width: 150px;
	text-align: center;
}

ul.members .box {
	width: 150px;
	margin: 0;
	height: 150px;
	overflow: auto;
}

a[data-route] {
	cursor: pointer;
}

ul.members .title {
	width: 150px;
	display: block;
	border-top: none;
}